<li>
    <div class="room-meta">
        {{name}}
        {{description}}
        {{roomId}}
        {{currentPlayersCount}} {{maxPlayersCount}}
        {{isPrivate}}
        {{password}}    
    </div>

</li>